@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

html, body, #__next, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}


.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Sits above the video */
  background: linear-gradient(90deg, rgba(52, 73, 94, 0.2) 0%, rgba(41, 128, 185, 0.2) 100%);
}

.hero-content {
  z-index: 2; /* Sits above the overlay */
}